:root {
    --fundo: #836FFF;
    --cartao-frente: #6495ED;
    --cartao-verso: #87CEFA;
    --destaque: #4682B4;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    background-color: var(--fundo);
}
header{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--preto);
}
header a{
    color: var(--branco);
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
